  body{
            background-color: #E8FFDD;
        }
        body img{
            width:100%;
            height:290px;
        }
        .cards{
           border-radius: 10px;
            max-height:450px;;
            width:1030px;
            overflow-y: scroll;
            display:grid;
            grid-template-columns: 400px 600px ;
            grid-template-rows:250px 250px 250px 250px;
            box-sizing: border-box;
           margin-left: 300px;
           margin-top:70px;
            grid-gap:10px;
            justify-content: center;
            
            
        }
        .cards::-webkit-scrollbar {
  width: 1em;
}
 
.cards::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.cards::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
        #c1{
            background-image: url("tomato.jpg");
            background-size:cover; 
        }
        #c2{
            background-image: url("carrot.jpg");
            background-size: cover;
        }
        #c3{
            background-image: url("whaet.jpg");
            background-size: cover;
        }
        #c4{
            background-image: url("potato.jpg");
            background-size:cover;
        }
        .card{
            border-radius:10px;
            background-color: gray;
            grid-column-start: 1;
            grid-column-end: 2;
            
            
        }
        .desc{
            line-height: 35px;
            border-radius:10px;
            background:darkseagreen ;
            grid-column-start: 2;
            grid-column-end: 3;
            text-align:left;
            padding-top: 10px;
            padding-left: 20px;
            font-size: 20px;
            color:darkslategray;
        }
        .desc button{
            float:right;
            width:100px;
            height:30px;
            border-radius:15px;
            outline:none;
            border: 2px solid green;
            background:whitesmoke;
            color:;
            margin-right: 20px;
            margin-bottom: 20px;
            margin-top: 60px;
           
        }
        .h{color:#84B46E;
            font-family:cursive;
            font-size:40px;
            margin-top:100px;
            margin-left:650px;
        }